#container{
    background-color: black;
    padding: 15px;
    color:white;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
}
#logoutButton{
    color:white;
    background-color: black;
    border: 2px solid white;
    font-family: Georgia, serif;
}
#logoutButton:hover{
    cursor: pointer;
    background-color: gray;
    transition: width 2s;
    transition-duration: 0.4s;  
}
#x{
    display: flex;
}
