#container{
    background-color: black;
    padding: 0.5rem 1rem;
    color:white;
    display: flex;
    position: fixed;
    top: 0;
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
#logoutButton{
    color:white;
    background-color: black;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    font-family: Georgia, serif;
}
#logoutButton:hover{
    cursor: pointer;
    background-color: gray;
    transition: width 2s;
    transition-duration: 0.4s;  
}
#x{
    display: flex;
    align-items: center;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
}