#container{
    background-color: black;
    padding: 0.5rem 1rem;
    color:white;
    display: flex;
    position: fixed;
    top: 0;
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#logoutButton{
    color:white;
    background-color: black;
    border: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 1rem;
}
#logoutButton:hover{
    cursor: pointer;
    background-color: gray;
    transition: width 2s;
    transition-duration: 0.4s;  
}
#x{
    display: flex;
    align-items: center;
}
